@charset "utf-8";
/* CSS Document */
.header{
	color: Gainsboro;
	background-image: linear-gradient(to right, #062c3b 36%, DodgerBlue , black);
	text-align: left;
	top: 0;
	width:100%;
	left: 0;
	position: fixed;
}

.logo{
	width: 12%;
	height: 12%;	
}

.primary-header h1{
	margin-bottom: auto;
}

.div{
	display: inline;
	margin-right: 10%;
	
}
.row{
	margin-top: 15%;
	width: 100%;
	height:100%
}
.card1{
	margin-left: 0%;
	border-style: solid;
	height:300px;
	width: 200px;
	border-color: #231676;
	background-color: #3E3E3E;
	color:aliceblue;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-bottom: 15%;
}
.card2{
	margin-left: 8%;
	border-style: solid;
	height:300px;
	width: 200px;
	border-color: #231676;
	background-color: #3E3E3E;
	color:aliceblue;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	bottom: 15px;
	margin-bottom: 15%;
}
.card3{
	margin-left: 8%;
	border-style: solid;
	height:300px;
	width: 200px;
	border-color: #231676;
	background-color: #3E3E3E;
	color:aliceblue;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-bottom: 15%;
}
.card_container{
	height:1000px;
}
.card1:hover{
	transition: border-color 0.2s;
	border-color: dodgerblue;
}
.card2:hover{
	transition: border-color 0.2s;
	border-color: dodgerblue;
}
.card3:hover{
	transition: border-color 0.2s;
	border-color: dodgerblue;
}
.card_img{
	height: 40%;
	width: 100%;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}
.card_text{
	word-wrap: break-word;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Roboto', sans-serif;
}
p {
  	margin-bottom: 0;
}
p + p {
  text-indent: 1.5em;
  margin-top: 0 
}

body{
	background-color: Gray;
	background-image: linear-gradient(to bottom, #515151 30%, lightgray, white );
}

.table{
	margin-top: 0%;
}

.map{
	margin-left: 9.5%;
}

.miniatura{
	width:60%;
}

#line1{
	margin-left: -13%;
}

.content{
	margin-left: 25%;
	margin-top: 0%;
	margin-bottom: 0%; 
}
.talk_us{
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 19%;
	margin-top: 8%;
}

.message_text{
	font-family: 'Baloo Tammudu 2', cursive;	
	font-size: 20px;
	margin-left: 25%;
}

.wpp_img{
	width: 15%;
	height: 15%;
	margin-bottom: 1%;
	margin-left: -15%;
}

.primary-header h3{
	margin-top: auto;
}

.line{
	width: 75%;
}
.button{
	text-decoration: none;
	font-family: 'Merriweather Sans';
	font-size: 15px; 
	color: black;
	margin-left: 15px;
}

.links{
	background-size: auto;
	border:hidden;
	background-color: lightgray;
	background-image: linear-gradient(to right, gray , lightgray 60%, gray );
}

.button:hover{
	color: aliceblue;
}

.social{
	color: Gainsboro;
}


.footer{
	color: Gainsboro;
	background-image: linear-gradient(to right, #062c3b 36% , DodgerBlue , black);
	text-align: center;
	bottom:0;
	width:100%;
	height: 4%; 
	left: 0;
	position: fixed;
	
}


.credits{
	font-size: 10px;
	text-align: left;
	margin-left: 30px;
	bottom: 5px;
}


.copyright{
	margin-left: 30px;
	font-size: 12px;
	font-family: 'Baloo Tammudu 2', cursive;
}

.table_info{
	margin-left: -17%;
	text-align: center;
	font-family: 'Baloo Tammudu 2', cursive;
	font-size: 15px;
	margin-bottom: 0%;
}